#calc-body{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 500px;
}
#screen{
    font-size: 35px;
    background-color: palegoldenrod ;
    border: 10px black solid;
    height:50px;
    box-sizing:content-box;
    margin:0px;
    padding: 10px;
    font-family: monospace ;

}
#buttons{
    display: flex;
    flex-direction: column;
    align-items: stretch;
    
}
.row{
    display: flex;
    justify-content: space-around;
}
.button{
    flex:1 0 25%;
    font-size: x-large;
    font-weight: bold;
    padding:10px;
    background-color: grey;
}
.numButton{
    color:crimson;
}